<template>
    <div class="flex flex-col w-screen h-screen bg-green-100 justify-center items-center">
        <div class="overflow-auto flex-auto p-8">
            <div
                v-for="message, index in messages"
                :key="index"
                class="bg-white p-4 px-8 my-4 rounded shadow"
            >
                <!-- <span class="pr-6 time font-mono text-xs text-gray-800">
                    {{ message.updated_at }}
                </span> -->
                {{ message.text }}
            </div>
            <div
                v-if="form.text"
                class="bg-white p-4 px-8 my-4 rounded shadow"
            >
                {{ form.text }}
            </div>
        </div>
        <div class="spacer w-screen h-40 bg-black">input-area</div>
        <form
            @input="live"
            @keydown.enter.prevent="chat"
            class="input-area flex justify-center items-center fixed bottom-0 left-0 bg-slate-400 w-screen"
        >
            <input v-model="form.text" class="p-4 h-15 w-80 m-8">
            <button @click="chat" class="bg-green-200 rounded-lg px-8 py-7 bottom-8 right-8">Send</button>
        </form>
    </div>
</template>

// TODO sound on new, missed (when not foccused) messages

<style scoped>
</style>

<script>
export default {
    props: {
        messages: Array,
        live: Array
    },þweb
    data() {
        return {
            form: { text: '', type: '' }
        }
    },
    methods: {
        live() {
            // this.form.type = 'live'
            // this.$inertia.post("/live", this.form)
        },
        chat() {
            // this.form.type = 'chat'
            // this.$inertia.post("/chat", this.form)
            this.form.text = ''
        }
    },
    computed: {
        liveText() {
            return this.live.text;
        }
    }
}
</script>
